* {
    font-family: 'Montserrat', sans-serif;
}

/*p{
    font-size: 12px;
}*/
/*LANDING SECTION*/
#landing-header {
    font-size: 50px;
}

.blue_class {
    color: blue;
}

body > section {
    height: 100vh;
    /*background: red;*/
    position: relative;
}

body > section > img {
    height: 500px;
    position: absolute;
    right: 0;
}

body > section > header {
    height: 90px;
    background: transparent;
    position: relative;
}

body > section > header > h1 {
    padding: 30px;
    margin: 0;
    font-size: 20px;
}

body > section > header > ul {
    position: absolute;
    top: 0;
    right: 30px;
    list-style: none;
    /*font-size: 20px;*/
    margin: 0;
    color: white;
}

body > section > header > ul > li {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
}

body > section > section {
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

/*ABOUT SECTION*/
body > main {
    /*position: relative;*/
}

#about-section {
    height: 100vh;
    /*background: red;*/
    position: relative;
}

#about-section > img {
    height: 100vh;
    position: absolute;
}
.content-sub {
    display: flex;
    position: absolute;
    border: 2px solid black;
    margin-top: 119px;
    margin-left: 135px;
}
#abouts {
    border: 2px solid black;
    background: white;
}
/*.content-sub > aside > img {
    height: 200px;
}*/

/*FOOTER*/
#footer-section {
    height: 581px;
    background: blue;
    position: relative;
}

#footer-content {
    display: flex;
}

#footer-bottom-content {
    display: flex;
    /*justify-content: space-between;*/
    position: absolute;
    bottom: 0;
}




























