* {
    font-family: 'Montserrat', sans-serif;
}
/*p{
    font-size: 12px;
}*/
#landing-header {
    font-size: 80px;
}
body > section {
    height: 100vh;
    /*background: red;*/
    position: relative;
}

body > section > img {
    height: 500px;
    position: absolute;
    right: 0;
}

body > section > header {
    height: 90px;
    background: transparent;
    position: relative;
}

body > section > header > h1 {
    padding: 30px;
    margin: 0;
    font-size: 20px;
}

body > section > header > ul {
    position: absolute;
    top: 0;
    right: 30px;
    list-style: none;
    /*font-size: 20px;*/
    margin: 0;
    color: white;
}

body > section > header > ul > li {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
}

body > section > section {
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}
